app/__pycache__/
pyvenv.cfg
Scripts/
Lib/
Include/
.env
app/routers/__pycache__/
face_rec/__pycache__/
repository/__pycache__/
face_rec/run_attendance
app/routers/faceencoding.py
app/routers/attendance.py

