app/__pycache__/
pyvenv.cfg
Scripts/
Lib/
Include/
.env
app/routers/__pycache__/
app/face_rec/__pycache__/
app/routers/repository/__pycache__/
app/face_rec/run_attendance.py
app/routers/faceencoding.py
app/routers/attendance.py

